.form {
    width: 30%;
    margin: 0 auto;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.tag {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.input {
    float: left;
    width: 69%;
    margin-top: 6px;
}

.button {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .tag, .input {
      width: 100%;
      margin-top: 0;
    }
}